# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Local data files (we don't need to upload the training data)
data/
labels.txt

# IDE and OS specific files
.vscode/
.idea/
.DS_Store